<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title></title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3">Gestion de groupes</h1>
            
            <% if(action == 'add') { %>

                <div class="card">
                    <div class="card-header">Formulaire d'ajout d'étudiant dans un groupe</div>
                    <div class="card-body">
                        <form method="POST" action="/student/addstudent">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>ID</label>
                                        <input type="number" name="idstudent" id="idstudent" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>ID2</label>
                                        <input type="number" name="iduser" id="iduser" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>IDGroup</label>
                                        <input type="number" name="idgroup" id="idgroup" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Niveau</label>
                                        <select name="niveau" class="form-control">
                                            <option value="pa">1A</option>
                                            <option value="da">2A</option>
                                            <option value="ta">3A</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Nom</label>
                                        <input type="text" name="nom" id="nom" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Prénom</label>
                                        <input type="text" name="prenom" id="prenom" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="text" name="email" id="email" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Génie</label>
                                        <select name="genie" class="form-control">
                                            <option value="info">Informatique</option>
                                            <option value="meca">Mécanique</option>
                                            <option value="indus">Industriel</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>

            <% } else { %>
                
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Students List</div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Group ID</th>
                                <th>Niveau</th>
                                <th>Genie</th>
                            </tr>
                            <%
                            if(studentData.length > 0)
                            {
                                studentData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.idstudent %></td>
                                <td><%= data.nom %></td>
                                <td><%= data.prenom %></td>
                                <td><%= data.email %></td>
                                <td><%= data.idgroup %></td>
                                <td><%= data.niveau %></td>
                                <td><%= data.genie %></td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>